
@{
  Layout = "_Layout";
}

<h1 >Step on up for a quick snip!</h1>
<p>Thank you for taking the time to consider us for your next cosmetic service.</p>
<p>We pride ourselves in what we do, and think that no matter the style, we have a Technician available who can make you look and feel exceptional.</p>
<p>The navigation bar above will link to a list of available specialists, as well as diplay our current client services schedule.</p>