
@{
  Layout = "_Layout";
}

<h1 >Book an artist for your new ink or piercing!</h1>
<p>Thank you for taking the time to consider us for your next body mod service.</p>
<p>We pride ourselves in what we do, and think that no matter the style, we have an Artist available who can give you just the mod you're looking for.</p>
<p>The navigation bar above will link to a list of available Artists, as well as diplay our current client services schedule.</p>