@{
  Layout = "_Layout";
}

@model Tattoo.Models.Artist

<h2>Register as a new Artist:</h2>
@using (Html.BeginForm())
{
    <p>First Name: @Html.TextBoxFor(model => model.FirstName)</p>
    <p>Last Name: @Html.TextBoxFor(model => model.LastName)</p>
    <p>Specialty: @Html.TextBoxFor(model => model.Specialty)</p>
    <input type="submit" class="btn btn-outline-info" value="Sign Up!"/>
}