@{
  Layout = "_Layout";
}

@model Tattoo.Models.Artist;

<h2>Edit</h2>

<h4>Edit this Artist:</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.ArtistId)

  <p>First Name: @Html.EditorFor(model => model.FirstName)</p>
  <p>Last Name: @Html.EditorFor(model => model.LastName)</p>

  <input type="submit" class="btn btn-outline-info" value="Save" />
}
<p>@Html.ActionLink("Back to list", "Index")</p>